body {
    font-family: arial, sans-serif;
}

nav {
    line-height: normal;
    padding-right: 15px;
    text-align: right;
    font-size: small;
}

#space {
    display: flex;
    align-items: center;
    padding: 36px;
}

main {
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    width: auto
}

#images, #adv {
    white-space: nowrap;
    color: #000000de;
    text-decoration: none;
    line-height: 24px;
    vertical-align: middle;
    padding: 0 15px;
}

#images:hover, #adv:hover {
    color: #454545;
    text-decoration: underline;
}

.logo {
    padding-bottom: 10px;
}

#bar {
    font-size: inherit;
}

input::placeholder {
    color: #a9a9a9;
    text-align: center;
    box-shadow: none;
    border: none;
}

input[type="search"] {
    max-width: 90%;
    font-size: inherit;
    padding: 20px;
    border: none;
    display: flex;
    border: 1px solid #f4f4f4;
    box-shadow: -1px -0.5px 0 #c8c8c8;
    border: unset 1px;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 10px auto;
    width: 482px;
    cursor: pointer;
}

input[type="search"]:hover, input[type="search"]:focus {
    border: solid 1px inherit;
    outline: 0; 
}

input[type="search"]:hover {
    box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.luck-btt, input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 0 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    box-shadow: none;
}

.luck-btt:hover, input[type="submit"]:hover {
    appearance: auto;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    box-shadow: .5px .5px 1px #c8c8c8;
    border-color: #c7c6c6;
    cursor: pointer;
}


.buttons {
    display: inline-block;
    padding: 15px;
}

input.buttons:focus, .luck-btt:focus {
    border: solid 1px #4285f4;
    transition-delay: 10;
}

/* Image */
#word {color: #4285f4; margin-left:-60px;}

/* Advanced */
.nav-logo{
    background-color: #f4f4f4;
    padding: 10px 0 40px 10px;
    align-items: center;
    text-align: left;
    height: 24px;
    width: 74px;
    
}

.main-advanced .container label{
    font-weight: lighter;
    margin: .1rem 0;
}

.appbar {
    color: #d93025;
    font-size: 20px;
    padding-left: 0px;
    margin: 20px 0 30px 0;
}

hr{ 
    background-color: #d0d0d0;
    height: 1px;
    border: 0;
}

.main-advanced .find-div{
    margin-top: 2rem;
}

.main-advanced .find-div h2{
    font-weight: lighter;
    margin-bottom: 2rem;
    font-size: 16px;
}

.main-advanced .inline-form{
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 3fr 4fr;
    font-size: .8rem;

}

.main-advanced .inline-form input[type="text"]{
    height: 2rem;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c9c9c9;
    border-radius: 1px;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.main-advanced .inline-form input[type="text"]:focus{
    outline:none;
    -webkit-box-shadow: inset 0px 0px 1px 1px #4285f4;
    -moz-box-shadow: inset 0px 0px 1px 1px #4285f4;
    box-shadow: inset 0px 0px 1px 1px #4285f4;
}

.main-advanced .find-div hr{
    margin-top: 2rem;
}

.main-advanced .find-div .form-buttons{
    justify-content: center;
    text-align-last: right;
}

.main-advanced .find-div .form-buttons input[type="submit"]{
    background-color: #4285F4;
    color:#fff;
}

.container{
    width: 80%;
    margin: 0 auto;
}