body {
    font-family: arial, sans-serif;
}

.top {
    line-height: normal;
    padding-right: 15px;
    text-align: right;
    font-size: small;
}

#space {
    display: flex;
    align-items: center;
    padding: 36px;
}

.nav {
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    width: auto
}

.img-adv {
    white-space: nowrap;
    line-height: normal;
    display: inline-block;
    padding-left: 15px;
}

#images, #adv {
    white-space: nowrap;
    color: #000000de;
    text-decoration: none;
    line-height: 24px;
    vertical-align: middle;
}

#images:hover, #adv:hover {
    color: #454545;
    text-decoration: underline;
}

#bar {
    font-size: inherit;
}

input::placeholder {
    color: #a9a9a9;
    text-align: center;
    box-shadow: none;
    border: none;
}

input[type="search"] {
    max-width: 90%;
    font-size: inherit;
    appearance: transparent;
    box-sizing: border-box;
    padding: 0 2px;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: -1px -0.5px 0 #c8c8c8;
    border: unset 1px;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 10px auto;
    width: 482px;
    cursor: pointer;
}

input[type="search"]:hover {
    border: unset 1px;
    box-shadow: 2px 3px 1px #c8c8c8;
}

.luck-btt, input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 0 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    box-shadow: none;
}

.luck-btt:hover, input[type="submit"]:hover {
    appearance: auto;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    box-shadow: .5px .5px 1px #c8c8c8;
    border-color: #c7c6c6;
    cursor: pointer;
}

.buttons {
    display: inline-block;
    padding: 15px;
}

img.logo {
    height: 92px;
    width: 272px;
    padding-bottom: 10px;
}

/* Image */
#word {
    color: rgb(66, 133, 244);
    text-align: center;

}


/* Advanced */