<!DOCTYPE html>
<html lang="en">
    <head><title>Django</title><link rel='stylesheet' href='style.css'></head>
    <style>
        body {
            font-family: arial, sans-serif;
            background: #e9e6cb;
            color: rgb(35, 48, 48);
            text-align: center;
        }

        h1 {
            font-size: 600%;
        }
        
        p {
            color: darkred;
        }
    </style>height: 200%;
            width: 60%;
        <p><b>This is my index.html </b>using Django.</p>
    </body>
</html>